<section>
    <div class="flex flex-col items-center justify-center px-4 py-10 sm:px-6 sm:py-16 lg:px-8 lg:py-24">
      <% if(msg){ %>
        <div class="animate__animated rounded-md border-l-4 <%if(success){%>
          border-green-500 bg-green-100
          <%}else{%>
            border-red-500 bg-red-100
            <%}%> p-4 w-[80%] animate__bounceIn">
          <div class="flex items-center justify-start space-x-4">
            <div>
              <%if(success){%>
                <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="h-6 w-6 text-green-600"
              >
                <path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path>
                <polyline points="22 4 12 14.01 9 11.01"></polyline>
              </svg>
                <%}else{%>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="h-6 w-6 text-red-600"
                  >
                    <path d="m21.73 18-8-14a2 2 0 0 0-3.48 0l-8 14A2 2 0 0 0 4 21h16a2 2 0 0 0 1.73-3Z"></path>
                    <line x1="12" y1="9" x2="12" y2="13"></line>
                    <line x1="12" y1="17" x2="12.01" y2="17"></line>
                  </svg>
                  <%}%>
              
            </div>
            <div>
              <p class="text-sm font-medium text-green-600">
                <%= msg %>
              </p>
            </div>
            
          </div>
        </div>
        
      <% } %>
      <div class="xl:mx-auto xl:w-full xl:max-w-sm 2xl:max-w-md">

        <div class="mb-2 font-bold text-lg flex justify-center">
            easily.com
          </div>
        <h2 class="text-center text-2xl font-bold leading-tight text-black">
          Sign in to your account
        </h2>
        <!-- Go to singup Page -->
        <p class="mt-2 text-center text-sm text-gray-600 ">
          Don&#x27;t have an account?
          <a
            href="/signup"
            title=""
            class="font-semibold text-black transition-all duration-200 hover:underline"
          >
            Create a free account
          </a>
        </p>
        <form action="/login" method="POST" class="mt-8">
          <div class="space-y-5">
            <!-- to see if Recruiter or not -->
            <div>
                <input type="checkbox" name="isRecruiter" id="setUserType" onchange="navBarToggle('#recruiterId')"> 
                <label for="setUserType" class="text-base font-medium text-gray-900">
                    Recruiter
                  </label>
                <div id="recruiterId" class="hidden">
                    <input
                        class="flex h-10 w-full rounded-md border border-gray-300 bg-transparent px-3 py-2 text-sm placeholder:text-gray-400 focus:outline-none focus:ring-1 focus:ring-gray-400 focus:ring-offset-1 disabled:cursor-not-allowed disabled:opacity-50"
                        type="text"
                        placeholder="Recruiter Id"
                        name="recruiterId"
                    />
                </div>
            </div>
            <!-- Email id for Login -->
            <div>
              <label for="email" class="text-base font-medium text-gray-900">
                
                Email address
              </label>
              <div class="mt-2">
                <input
                  class="flex h-10 w-full rounded-md border border-gray-300 bg-transparent px-3 py-2 text-sm
                   placeholder:text-gray-400 focus:outline-none focus:ring-1 focus:ring-gray-400 
                   focus:ring-offset-1 disabled:cursor-not-allowed disabled:opacity-50"
                  type="email"
                  placeholder="Email"
                  id="email"
                  name="email"
                />
              </div>
            </div>
            <!-- Password for login  -->
            <div>
              <div class="flex items-center justify-between">
                <label for="password" class="text-base font-medium text-gray-900">
                  
                  Password
                </label>
                <a
                  href="#"
                  title=""
                  class="text-sm font-semibold text-black hover:underline"
                >
                  
                  Forgot password?
                </a>
              </div>
              <div class="mt-2">
                <input
                  class="flex h-10 w-full rounded-md border border-gray-300 bg-transparent px-3 py-2 text-sm placeholder:text-gray-400 focus:outline-none focus:ring-1 focus:ring-gray-400 focus:ring-offset-1 disabled:cursor-not-allowed disabled:opacity-50"
                  type="password"
                  placeholder="Password"
                  name="password"
                  id="password"
                />
              </div>
            </div>
            <!-- Login button  -->
            <div>
              <button
                type="submit"
                class="inline-flex w-full items-center justify-center rounded-md bg-black px-3.5 py-2.5 font-semibold leading-7 text-white hover:bg-black/80"
              >
                Log In
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="ml-2"
                >
                  <line x1="5" y1="12" x2="19" y2="12"></line>
                  <polyline points="12 5 19 12 12 19"></polyline>
                </svg>
              </button>
            </div>
          </div>
        </form>
        
      </div>
    </div>
  </section>
  